<% companies.each.with_index(1) do |company, i| %>
  <tr id="company_<%= company.id %>">
    <td><%= i %></td>
    <td><%= company.name %></td>
    <td><%= company.show_created_at %></td>
    <td id="edit_btn_<%= company.id %>">
      <%= link_to edit_admin_company_path(company), class: "btn green" do %>
        <%= t('views.default.edit') %>
        <i class="material-icons right">edit</i>
      <% end %>
    </td>
    <td id="delete_btn_<%= company.id %>">
      <%= link_to admin_company_path(company), method: :delete, data: { confirm: t('messages.destroy_confirm') }, class: "btn red" do %>
        <%= t('views.default.destroy') %>
        <i class="material-icons right">delete</i>
      <% end %>
    </td>
  </tr>
<% end %>
