<div class="row">
  <div class="input-field col s6">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <p class="red-text text-darken-4"><%= client.error_messages_for :name %></p>
  </div>
</div>
<%= f.hidden_field :company_id, value: current_user.company.id %>
<%= f.submit class: 'btn blue' %>