<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="d-flex align-items-center">
          <div>
            <h5 class="card-title"><%= t("views.#{controller_name.singularize}.#{controller.action_name}") %></h5>
          </div>
        </div>
        <div class="table-responsive m-b-20">
          <%= form_with model: [:admin, user], local: true do |f| %>
            <div class="row">
              <div class="input-field col s6">
                <%= f.label :name %>
                <%= f.text_field :name %>
                <p class="red-text text-darken-4"><%= user.error_messages_for :name %></p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <%= f.label :email %>
                <%= f.email_field :email %>
                <p class="red-text text-darken-4"><%= user.error_messages_for :email %></p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <%= f.label :password %>
                <%= f.password_field :password %>
                <p class="red-text text-darken-4"><%= user.error_messages_for :password %></p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
                <p class="red-text text-darken-4"><%= user.error_messages_for :password_confirmation %></p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <%= f.collection_select :company_id, CompanyDecorator.decorate_collection(Company.all.order(:id)), :id, :name, { include_blank: true } %>
                <%= f.label :company_id %>
                <p class="red-text text-darken-4"><%= user.error_messages_for :company_id %></p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <p>
                  <%= f.check_box :grader %>
                  <span><%= f.label :grader %><span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <p>
                  <%= f.check_box :administrator %>
                  <span><%= f.label :administrator %><span>
                </p>
              </div>
            </div>
            <%= f.submit class: 'btn blue' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
