<% users.each.with_index(1) do |user, i| %>
  <tr>
    <td><%= i %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.company.name %></td>
    <td><%= user.show_grader %></td>
    <td><%= user.show_administrator %></td>
    <td id="edit_btn_<%= user.id %>">
      <%= link_to edit_admin_user_path(user), data: { turbolinks: false }, class: "btn green" do %>
        <%= t('views.default.edit') %>
        <i class="material-icons right">edit</i>
      <% end %>
    </td>
    <td id="delete_btn_<%= user.id %>">
      <%= link_to admin_user_path(user), method: :delete, data: { confirm: t('messages.destroy_confirm') }, class: "btn red" do %>
        <%= t('views.default.destroy') %>
        <i class="material-icons right">delete</i>
      <% end %>
    </td>
  </tr>
<% end %>
