<%=
  user_active = params[:controller] == 'users' ? 'active' : ''
  creative_active = params[:controller] == 'creative' ? 'active' : ''
  ad_medium_active = params[:controller] == 'ad_media' ? 'active' : ''
  category_active = params[:controller] == 'categories' ? 'active' : ''
  client_active = params[:controller] == 'clients' ? 'active' : ''
  admin_company_active = params[:controller] == 'admin/companies' ? 'active' : ''
  admin_user_active = params[:controller] == 'admin/users' ? 'active' : ''
%>
<aside class="left-sidebar">
  <ul id="slide-out" class="sidenav">
    <li>
      <ul class="collapsible">
        <li class="small-cap"><span class="hide-menu">各種機能</span></li>
        <li class="<%= user_active %>">
          <%= link_to company_users_path(current_user.company), class: 'collapsible-header' do %>
            <i class="material-icons">people</i>
            <span class="hide-menu"><%= t('views.user.index') %></span>
          <% end %>
        </li>
        <li class="<%= ad_medium_active %>">
          <%= link_to company_ad_media_path(current_user.company), class: 'collapsible-header' do %>
            <i class="material-icons">chrome_reader_mode</i>
            <span class="hide-menu"><%= t('views.ad_medium.index') %></span>
          <% end %>
        </li>
<<<<<<< HEAD
=======
        <li class="<%= category_active %>">
          <%= link_to company_categories_path(current_user.company), class: 'collapsible-header' do %>
            <i class="material-icons">category</i>
            <span class="hide-menu"><%= t('views.category.index') %></span>
          <% end %>
        </li>
        <li class="<%= client_active %>">
          <%= link_to company_clients_path(current_user.company), class: 'collapsible-header' do %>
            <i class="material-icons">account_box</i>
            <span class="hide-menu"><%= t('views.client.index') %></span>
          <% end %>
>>>>>>> 2f593d92db75719d88a009a2c6472997fb41755e
        <li class="<%= creative_active %>">
          <%= link_to company_creatives_path(current_user.company), class: 'collapsible-header' do %>
            <i class="material-icons">chrome_reader_mode</i>
            <span class="hide-menu"><%= t('views.creative.index') %></span>
          <% end %>
        </li>
        <% if current_user.administrator? %>
          <li class="small-cap"><span class="hide-menu"> 管理者機能</span></li>
          <li class="<%= admin_company_active %>">
            <%= link_to admin_companies_path, class: 'collapsible-header' do %>
              <i class="material-icons">location_city</i>
              <span class="hide-menu"><%= t('views.company.index') %></span>
            <% end %>
          </li>
          <li class="<%= admin_user_active %>">
            <%= link_to admin_users_path, class: 'collapsible-header' do %>
              <i class="material-icons">supervised_user_circle</i>
              <span class="hide-menu"><%= t('views.user.index') %></span>
            <% end %>
          </li>
        <% end %>
        <li class="small-cap"><span class="hide-menu">その他</span></li>
        <li>
          <%= link_to logout_path, method: :delete, class: 'collapsible-header' do %>
            <i class="material-icons">directions</i>
            <span class="hide-menu"><%= t('views.session.logout') %></span>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</aside>
